__pycache__
*.egg-info
.DS_Store
_build
build
.log
arxivPDFs
arxiv_papers.csv
filtered_arxiv_papers.csv
*.zip
.env
scripts/arxiv_papers_with_abstract.csv
scripts/arxiv_papers_with_ai_labels.csv
papers_output/*
papers
scripts/master_papers.csv
scripts/t.py
/RP_eval_results_*.json
scripts/master_papers.csv
scratch
scratch/*
scratch/acl-anthology
scratch/acl-anthology/*
scratch/posterity/*
acl-anthology/
acl-anthology/*
data/topic-model-data/detected-phrases
data/topic-model-data/processed
data/topic-model-data/topic-model-outputs
data/topic-model-data/master_papers.csv
data/experiments_output
