numpy
pandas
requests
matplotlib
black
datasets
huggingface_hub
pytest
jellyfish
sphinx
renku-sphinx-theme
sphinx-autobuild
openai
tika
tqdm
openai
load_dotenv
tomotopy
wordcloud
pytest-dotenv
scipy
networkx
tomotopy
soup-nuts @ git+https://git@github.com/ahoho/topics.git@dev
-e .