numpy
pandas
requests
matplotlib
datasets
huggingface_hub
pytest
jellyfish
black[jupyter]
sphinx
renku-sphinx-theme
sphinx-autobuild
openai
tika
tqdm
openai
load_dotenv
tomotopy
wordcloud
pytest-dotenv
-e .